body {
    background-color: black;
}
#intestazione {
    background-color: rgb(0, 163, 0);
    text-align: center;
    color: white;
    position: sticky;
    top: 0;
}
#logo {
    max-width: 25%;
    float: left;
}
#tso_home {
    max-width: 10%;
    float: right;
}
.column {
    margin-top: 20px;
    float: left;
    width: 28%;
    padding: 15px;
    background-color: #202020;
    text-align: center;
    margin: auto;
    margin-top: 15px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
/*@media screen and (max-width:600px) {
    .column {
      width: 100%;
    }
}*/
#colonne-body {
    color: red;
    margin-top: 15px;
}
.column#testo {
    text-align: justify;
}
#sponsor {
    width: 100%;
    margin: auto;
    margin-bottom: 10px;
}
input#menu {
    width: 100%;
}
@media screen and (max-width:600px) {
    .column#cerca {
      width: 100%;
    }
    .column#testo {
        width: 70%;
    }
    .column#sponsor {
        width: 25%;
    }
}

